.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px red solid;*/
  width: 100%;
  height: 100%;
}

.alerta {
  color: darkred;
}

.opcional {
  color: darkgreen;
}

.scrollable {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.correo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  font-size: 15px;
  line-height: 14px;
  font-family: '__Merriweather Sans_5';
  font-weight: 300;
}

.correo p-button {
  padding-left: 10px;
}

.nvoAvaluo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
}
