.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*border: 1px red solid;*/
  width: 100%;
  height: 100%;
}

.alerta {
  color: darkred;
}

.opcional {
  color: darkgreen;
}

.margintop {
  margin-top: 10px;
}

.derecha {
  float: right;
}

.checkBoxContainer {
  padding-left: 15px;
  height: 30px;
}

.progress {
  width: 300px;
  margin: 10px;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrollable {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.correo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  font-size: 15px;
  line-height: 14px;
  font-family: '__Merriweather Sans_5';
  font-weight: 300;
}

.correo p-button {
  padding-left: 10px;
}

.nvoAvaluo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.disable-whole-div__cover {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ddd;
  opacity: 0.3;
}

.isHidden{
  display: none;
}
.enviarCorreo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 20px;
}
.oculto {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  display: block;
}
.mascarita{
  height: 10840px;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
}