<div class="container">
  <!--<div class="tittle">
    <h1>GENERAR AVALÚO</h1>
  </div>-->
  <div class="scrollable">
    <mat-horizontal-stepper #stepper="matHorizontalStepper">
      <mat-step>
        <form>
          <ng-template matStepLabel>Ubicar Propiedad</ng-template>
          <app-paso-1></app-paso-1>
          
        </form>
      </mat-step>
      <mat-step>
        <form>
          <ng-template matStepLabel>Generar Avalúo</ng-template>
          <app-paso-2></app-paso-2>
          <!--<div class="tittle">
            <h1>AMENIDADES</h1>
          </div>-->
          
        </form>
      </mat-step>
      <mat-step>
        <form>
        <ng-template matStepLabel>Amenidades</ng-template>
        <app-paso-3></app-paso-3>
        
      </form>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          You are now done.
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>


  </div>
</div>
<!-- Ejemplo de material Design-->