<div class="container">
  <mat-card>
    <div class="regresar" [routerLink]="'/inicio'">
      <i class="material-icons">
        arrow_back
      </i>Volver a inicio</div>
    <div class="title">POLÍTICA DE PRIVACIDAD</div>
    <div class="terminos">
        De conformidad con lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares REGIÓN4
              ASESORES INMOBILIARIOS S.C.P por medio de <a href="https://www.valorinmuebles.com.mx">www.valorinmuebles.com.mx</a> pone a su disposición el siguiente aviso de privacidad.
              <br> REGIÓN4 ASESORES INMOBILIARIOS S.C.P por medio de <a href="https://www.valorinmuebles.com.mx">www.valorinmuebles.com.mx</a> es responsable del uso y protección de
              sus datos personales, en este sentido y atendiendo las obligaciones legales establecidas en la Ley Federal de Protección
              de Datos Personales en Posesión de los Particulares, a través de este instrumento se informa a los titulares de
              los datos, la información que de ellos se recaba y los fines que se le darán a dicha información.
              <br> Los datos personales que recabamos de usted serán utilizados para las siguientes finalidades, las cuales son necesarias
              para concretar nuestra relación con usted así como atender los servicios y/o pedidos que solicite:
              <br>
              <br>
    
              <sup>*</sup>Generar una estimación de valor de un bien inmueble
              <br>
              <sup>*</sup>Emitir factura por el costo total de la estimación de valor de un bien inmueble
              <br>
              <sup>*</sup>Contacto y envió de información relevante relacionada con nuestros productos y servicios
              <br>
              <sup>*</sup>Realizar la gestión interna necesaria relacionadas con la relación comercial vigente incluyendo cuestiones
              de crédito y pagos
              <br>
    
              <br> Para llevar a cabo las finalidades descritas en el presente aviso de privacidad, utilizaremos los siguientes datos
              personales
              <br>
              <br>
    
              <sup>*</sup>Nombre Completo
              <br>
              <sup>*</sup>Correo electronico
              <br>
              <sup>*</sup>Teléfono
              <br>
              <sup>*</sup>Ramo u Ocupación
              <br>
              <sup>*</sup>Razón Social
              <br>
              <sup>*</sup>RFC
              <br>
              <br> Por otra parte, informamos a usted, que sus datos personales no serán compartidos con ninguna autoridad, empresa,
              organización o persona distintas a nosotros y serán utilizados exclusivamente para los fines señalados.
              <br> Usted tiene en todo momento el derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos
              y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información
              personal en caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); de igual manera, tiene
              derecho a que su información se elimine de nuestros registros o bases de datos cuando considere que la misma no
              está siendo utilizada adecuadamente (Cancelación); así como también a oponerse al uso de sus datos personales para
              fines específicos (Oposición). Estos derechos se conocen como derechos ARCO.
    </div>
  </mat-card>
</div>
