<div class="container">

  <div class="centered">
    <div class="header">
      Ingrese su correo y a continuación presione el botón recuperar contraseña.
    </div>
    <div class="formA">
      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
        <span class="ui-float-label">
          <input id="Correo" type="text" size="50" pInputText name="correo" ngModel required>
          <label for="Correo">Correo</label>
        </span>
        <div class="ui-float-label button">
          <p-button (onClick)="recuperarContrasena()" label="Recuperar contraseña"></p-button>
        </div>
        <div class="oculto">
            <app-template-password-recovery [cliente]="client"></app-template-password-recovery>
        </div>
        <div class="mascarita"></div>
      </form>
    </div>
  </div>
</div>