<div class="container">

  <div class="centered">
    <div class="header">
      REGISTRO
    </div>
    <div class="scrollable">
      <div class="formA">
        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
          <span class="ui-float-label">
            <input id="Nombre" type="text" size="50" pInputText name="Nombre" ngModel required>
            <label for="Nombre">Nombre Completo</label>
          </span>
          <span class="ui-float-label">
            <input id="Correo" type="email" size="50" pInputText name="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel
              required>
            <label for="Correo">Correo</label>
          </span>
          <span class="ui-float-label morem">
            <label class="subtext">La contraseña debe ser alfanumérica de mínimo 6 a máximo 10 carácteres.</label>
            <input id="Contraseña" type="password" size="50" pInputText name="Contrasena" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
              ngModel required>
            <label for="Contraseña">Contraseña</label>

          </span>
          <span class="ui-float-label">
            <input id="Repetir" type="password" size="50" pInputText name="Repetir" pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$"
              ngModel required>
            <label for="Repetir">Repetir Contraseña</label>
          </span>
          <span class="ui-float-label">
            <input id="Telefono" type="text" size="50" pInputText name="Telefono" ngModel required>
            <label for="Telefono">Telefono</label>
          </span>
          <div class="ui-float-label">
            <p-dropdown #ramo id="Ramo" [options]="ramos" name="Ramo" placeholder="Ramo" optionLabel="name" ngModel required></p-dropdown>
            <label for="Ramo" *ngIf="ramo.value">Ramo</label>
          </div>
          <div class="ui-float-label button">
            <p-button (onClick)="register()" label="Continuar"></p-button>
          </div>
          <div>
            <span>Al registrarme acepto los
              <a target="_blank" href="/terminosCondiciones">términos y condiciones</a>, política de privacidad y el uso de cookies</span>
          </div>
          <div class="oculto">
            <app-template-user-activation [cliente] = "cliente"id="templateActivation"></app-template-user-activation>
          </div>
          <div class="mascarita"></div>
        </form>
      </div>
    </div>
  </div>
</div>
