<div class="container">
  <div class="cost">
    <div class="costContainer">
      <mat-form-field class="example-full-width">
        <span matPrefix>$ &nbsp;</span>
        <input matInput placeholder="Costo Reporte" [disabled]="disabled" [(ngModel)]="facturacion['costoAvaluo']">
      </mat-form-field>
    </div>
    <div class="costContainer">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Código de Cupón" [disabled]="codigo" [(ngModel)]="codigoName">
      </mat-form-field>
    </div>
    <div class="cupon">
      <span class="descuentos">{{montoDescuento}}</span>
      <p-button (onClick)="aplicarCodigo()" label="Aplicar"></p-button>
    </div>
    <div class="costContainer">
      <mat-form-field class="example-full-width">
        <span matPrefix>$ &nbsp;</span>
        <input matInput placeholder="Subtotal" [disabled]="disabled" [(ngModel)]="facturacion['subTotal']">
      </mat-form-field>
    </div>
    <div class="divisor">
      <hr>
    </div>
    <div class="costContainer">
      <mat-form-field class="example-full-width">
        <span matPrefix>$ &nbsp;</span>
        <input matInput placeholder="TOTAL" [disabled]="disabled" [(ngModel)]="facturacion['total']">
      </mat-form-field>

    </div>
  </div>
  <div style="width: 100%;">
    <div style="    font-family: 'Poppins', sans-serif; margin: 13px;">Pagar con:</div>
    <p-selectButton [options]="types" [(ngModel)]="selectedType"></p-selectButton>
    <div *ngIf="selectedType=='tarjeta'" style="    width: 100%;     max-width: 600px;
    margin: 15px;">
      <div class="paymentInfo">
        <div class="tittle" style="    font-family: 'Poppins', sans-serif; ">Ingresa los datos de tu tarjeta de crédito o débito</div>
        <div class="subContainer">
          <div class="containerPayment1">
            <div style="    display: flex;
            justify-content: space-evenly;
    flex-wrap: wrap;">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" [(ngModel)]="pf['nombre']">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellidos" [(ngModel)]="pf['apellidos']">
              </mat-form-field>
            </div>

          </div>

          <div class="containerPayment">
            <div class="expiredDate">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Número de Tarjeta" [(ngModel)]="pf['numeroTarjeta']">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Código de Seguridad" [(ngModel)]="pf['cvt']">
              </mat-form-field>
            </div>

            <div class="expiredDate">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="MM" [(ngModel)]="pf['mesExpiracion']">
                <mat-hint>Mes expiración</mat-hint>
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="AA" [(ngModel)]="pf['anyoExpiracion']">
                <mat-hint>Año expiración</mat-hint>
              </mat-form-field>

            </div>
            <div class="expiredDate">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Código Postal" [(ngModel)]="pf['cp']">
              </mat-form-field>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Teléfono" [(ngModel)]="pf['telefono']">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="payButton">
          <p-button (onClick)="pagarAvaluo()" label="Pagar Ahora" [disabled]="loading"></p-button>
          <p-progressBar *ngIf="loading" class="progress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
        </div>
      </div>
    </div>
    <div *ngIf="selectedType=='paypal'" style="    width: 100%;
    margin: 15px;">
      <p-button (onClick)="pagarAvaluoPayPal()" label="Pagar Ahora con PayPal" [disabled]="loading"></p-button>
      <p-progressBar *ngIf="loading" class="progress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>
    </div>
  </div>




</div>
