.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.container h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    color: #28225C;
    font-weight: 700;
    font-family: '__Merriweather_5';
    font-size: 30px;
}
.container p{
    text-align: justify;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 300;
    font-family: '__Merriweather_5';
    font-size: 15px;
}
a{
    text-decoration: none;
}
a:hover{
    color: #28225C;
}
a:visited{
    color: rgb(38, 31, 99);
}