<div class="container">

  <div class="content">
    <div class="principal">
      <div class="principalContainer">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Razón Social" [(ngModel)]="facturacion['razonSocial']" required>
        </mat-form-field>
      </div>

      <div class="principalContainer">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="RFC" [(ngModel)]="facturacion['rfc']" required>
        </mat-form-field>

      </div>
    </div>
    <div class="contact">

      <div class="tittle">Datos del contacto</div>

      <div class="contactContainer">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nombre del Contacto" [(ngModel)]="facturacion['nombreContacto']" required>
        </mat-form-field>

      </div>

      <div class="contactContainer">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Télefono Celular" [(ngModel)]="facturacion['celularContacto']" required>
        </mat-form-field>
      </div>

      <div class="contactContainer">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Correo" [(ngModel)]="facturacion['correoContacto']" required>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
