.container{
    width: 100%;
    padding:15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.principal{
    width:210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.principalContainer{
    padding-top: 7px;
    padding-bottom: 10px;
}
.address{
    display: flex;
    width:210px;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    justify-content: space-around;
    
}
.tittle{
    text-align: center;
    font-size: 15px;
    padding-bottom: 7px;
    padding-top: 7px;
    width: 100%;
    
}
.addresContainer{
    padding-top:7px;
    padding-bottom: 10px;
    width: 210px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.contact{
    width:210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.contactContainer{
    padding-top: 7px;
    padding-bottom: 10px;
}