<div class="container">

  <div class="content">
    <div class="principal">
      <div class="principalContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Razón Social</label>
        </span>
      </div>

      <div class="principalContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">RFC</label>
        </span>
      </div>
    </div>

    <div class="address">
      <div class="tittle">Domicilio</div>
      <div class="addresContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">Calle</label>
        </span>
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">No. Exterior</label>
        </span>
      </div>

      <div class="addresContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">Colonia</label>
        </span>
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">No. Interior</label>
        </span>
      </div>

      <div class="addresContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">Localidad</label>
        </span>
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">País</label>
        </span>
      </div>

      <div class="addresContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">Municipio</label>
        </span>
        <span class="ui-float-label">
          <input id="float-input" type="text" size="10" pInputText>
          <label for="float-input">Estado</label>
        </span>
      </div>

    </div>
    <div class="contact">

      <div class="tittle">Datos del contacto</div>

      <div class="contactContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Nombre del Contacto</label>
        </span>
      </div>

      <div class="contactContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Télefono Celular</label>
        </span>
      </div>

      <div class="contactContainer">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText>
          <label for="float-input">Correo</label>
        </span>
      </div>
    </div>
  </div>
</div>