.characteristics {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 15px;
  line-height: 14px;
  /* font-family: '__Merriweather Sans_5'; */
  font-weight: 300;
  font-family: 'Poppins', sans-serif !important;
  margin-bottom: 70px;
}

img {
  position: absolute;
  margin-left: 127px;
  margin-top: -15px;
}

.address {
  min-width: 150px;
  width: 200px;
  /*height: 200px;*/
  display: flex;
  flex-direction: column;
}

.subAddress {
  display: flex;
  flex-direction: column;
}

mat-form-field {
  margin: 10px;
  margin-bottom: 20px;
}

.kind {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.articles {
  min-width: 230px;
  min-height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  min-width: 320px;
  min-height: 155px;
  /* max-height: 155px; */
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.subDescription {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.years {
  /*border: 1px black solid;*/
  display: flex;
  flex-direction: row;
}
