<div class="characteristics">

  <div class="address">
    <div class="subAddress">
      <span>Dirección:</span>
      <br>
      <p>
        Calle: {{avaluoForm.street}} #{{avaluoForm.num_ext}}, Col. {{avaluoForm.colonia}}<!--{{calle}} #{{numExt}}, Col. {{colonia}}-->
        <br> C.P. {{avaluoForm.zip}}, {{avaluoForm.municipio}}<!--{{codigoPostal}}, {{municipio}}-->
        <br> {{avaluoForm.ciudad}}, {{avaluoForm.estado}}<!--{{ciudad}}, {{estado}}.-->
      </p>
    </div>

    <div class="kind">
      <h4>Tipo de propiedad.</h4>
      <br>

      <p-selectButton [options]="types" [(ngModel)]="avaluoForm['id_tipo_propiedad']" [ngModelOptions]="{standalone: true}" name="tipoCasa"
        (ngModelChange)="onChange($event)"></p-selectButton>

      <!-- <h4>Casa</h4><br>

        <p-selectButton [options]="homeTypes" [(ngModel)]="selectedHomeType" [ngModelOptions]="{standalone: true}" name="estadoCasa"></p-selectButton><br> -->
    </div>
  </div>

  <div class="articles">

    <div class="icons">
      <div>
        <img class="images" src="../assets/images/cuarto.svg" alt="Smiley face" height="42" width="42" />
      </div>
      <br>

      <div>
        <img class="images" src="../assets/images/bano.svg" alt="Smiley face" height="42" width="42" />
      </div>
      <br>

      <div>
        <img class="images" src="../assets/images/medio-bano.svg" alt="Smiley face" height="42" width="42">
      </div>
      <br>

      <div>
        <img class="images" src="../assets/images/parking.svg" alt="Smiley face" height="42" width="42">
      </div>
      <br>
    </div>

    <div class="buttons">
      <div class="buttonsContent"></div>
      <div>
        <h4>Recámaras</h4>
        <p-selectButton [options]="numbers1" [(ngModel)]="avaluoForm['recamaras']" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"></p-selectButton>
      </div>
      <br>

      <div>
        <h4>Baños</h4>
        <p-selectButton [options]="numbers1" [(ngModel)]="avaluoForm['banos']" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"></p-selectButton>
      </div>
      <br>

      <div>
        <h4>Medios Baños</h4>
        <p-selectButton [options]="numbers0" [(ngModel)]="avaluoForm['medios_banos']" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"></p-selectButton>
      </div>
      <br>

      <div>
        <h4>Cajones</h4>
        <p-selectButton [options]="numbers0" [(ngModel)]="avaluoForm['estacionamientos']" [ngModelOptions]="{standalone: true}" (ngModelChange)="onChange($event)"></p-selectButton>
      </div>
      <br>
    </div>

  </div>

  <div class="description">

    <div class="subDescription">

      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText name="areaConstruida" [(ngModel)]="avaluoForm['area_construida']"
          (ngModelChange)="onChange($event)">
        <label for="float-input">Área Construída(m2) </label>
      </span>

      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText name="superficieTerreno" [(ngModel)]="avaluoForm['superficie_terreno']"
          (ngModelChange)="onChange($event)">
        <label for="float-input">Superficie del terreno(m2) </label>
      </span>

      <div class="years">
        <span class="ui-float-label">
          <input id="float-input" type="text" size="30" pInputText name="antiguedad" [(ngModel)]="avaluoForm['edad']" [disabled]='isNew'
            (ngModelChange)="onChange($event)">
          <label for="float-input">Años de antigüedad</label>
        </span>

        <div class="ui-g-12">
          <p-checkbox name="nuevo" value="Nuevo" label="Nuevo" (onChange)="nuevo()" inputId="Nvo"></p-checkbox>
        </div>
      </div>

    </div>
  </div>
</div>
