<p-tabView>
  <p-tabPanel header="Login Admin" leftIcon="fa-user" *ngIf="login">
    <div class="login">
      <div class="containerLogin">
        <!--<form #f="ngForm" (ngSubmit)="onSubmit(f.value)">-->
        <span class="ui-float-label">
          <input id="User" type="text" size="30" name="user" [(ngModel)]="user" pInputText>
          <label for="User">Usuario</label>
        </span>

        <span class="ui-float-label">
          <input id="Cont" type="password" size="30" name="pass" [(ngModel)]="pass" pInputText>
          <label for="Cont">Contraseña</label>
        </span>

        <p-button label="Iniciar Sesión" (onClick)="validarLogin()"></p-button>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Usuarios" leftIcon="fa-user" *ngIf="loginSuccess">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Contacto </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.mail}}
            <br/> {{element.phone}} </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Ramo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ramo}} </mat-cell>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Modificar Credenciales YALS" leftIcon="fa-key" *ngIf="loginSuccess">
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="yalsconfig['url']">
      <label for="float-input">URL</label>
    </span>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="yalsconfig['mail']">
      <label for="float-input">Mail</label>
    </span>
    <span class="ui-float-label">
      <input id="float-input" type="text" size="30" pInputText [(ngModel)]="yalsconfig['key']">
      <label for="float-input">API Key</label>
    </span>
    <p-button (onClick)="saveconfig()" label="Guardar" class="mle"></p-button>
  </p-tabPanel>
  <p-tabPanel header="Reportes" leftIcon="fa-file" *ngIf="loginSuccess">
    <div class="example-container mat-elevation-z8">
      <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter2($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-table #table [dataSource]="dataSource2">
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.client}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.dateCreated| date:'yyyy-MM-dd HH:mm a'}}
          </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="weight">
          <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.response.address.estado}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol">
          <mat-header-cell *matHeaderCellDef> Colonia </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.response.address.colonia}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol1">
          <mat-header-cell *matHeaderCellDef> Ramo </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ramo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="symbol2">
          <mat-header-cell *matHeaderCellDef> Cupon </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.cupon}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <!-- {{element|json}} -->
            {{element._id}}
            <p-button (onClick)="imprimir(element._id)" label="Descargar PDF"></p-button>
            <div id="{{element._id}}" class="oculto">
              <app-reporte [datos]="{data:element}"></app-reporte>
            </div>

          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
      </mat-table>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Administrar Cupones" leftIcon="fa-bell-o" *ngIf="loginSuccess">
    <!-- Tabla de cupones-->
    <div clas="botonesCupon">
      <div class="buttonContainer">
        <p-button label="Agregar Cupón" (onClick)="openDialog()"></p-button>
      </div>
    </div>

    <div class="example-container mat-elevation-z8">

      <mat-table #table [dataSource]="dataSource3">
        <!-- Position Column -->
        <ng-container matColumnDef="campania">
          <mat-header-cell *matHeaderCellDef> Campaña </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.campana}} </mat-cell>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="descuento">
          <mat-header-cell *matHeaderCellDef> Descuento </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.porcentaje}}
          </mat-cell>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="cupon">
          <mat-header-cell *matHeaderCellDef> Cupon </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.nombre}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="estatus">
          <mat-header-cell *matHeaderCellDef> Estatus </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.estado?'Activo':'Desactivado'}}
            <button *ngIf="!element.estado" pButton type="button" (click)="changeStatus(element._id, true)" label="Activar" class="ui-button-success"></button>
            <button *ngIf="element.estado" pButton type="button" (click)="changeStatus(element._id, false)" label="Desactivar" class="ui-button-danger"></button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsCupones"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsCupones;"></mat-row>
      </mat-table>
    </div>

  </p-tabPanel>
</p-tabView>
