/* Structure */

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.ui-float-label {
  margin: 20px;
}

.mle {
  margin-left: 90px;
}



.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.containerLogin {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.botonesCupon {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttonContainer {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttonContainer p-button {
  padding-left: 10px;
  padding-right: 10px;
}

.isHidden {
  display: none;
}
.oculto {
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  display: block;
}
.mascarita {
  height: 999px;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
}
