<div class="container">
  <div class="addressDesc">

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Calle" (change)="verify()" [(ngModel)]="avaluoForm['street']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Num. Ext." (change)="verify()" [(ngModel)]="avaluoForm['num_ext']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="C.P." size="10" max="5" (change)="verify()" [(ngModel)]="avaluoForm['zip']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Colonia" (change)="verify()" [(ngModel)]="avaluoForm['colonia']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Delegación/Municipio" (change)="verify()" [(ngModel)]="avaluoForm['municipio']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Estado" (change)="verify()" [(ngModel)]="avaluoForm['estado']" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Ciudad" (change)="verify()" [(ngModel)]="avaluoForm['ciudad']" required>
    </mat-form-field>

  </div>
  <div class="maps">
    <agm-map [latitude]="avaluoForm['latitud']" [longitude]="avaluoForm['longitud']" [zoom]="12" [scrollwheel]="false">
      <agm-marker (dragEnd)=dragEnd($event) [latitude]="avaluoForm['latitud']" [longitude]="avaluoForm['longitud']" [markerDraggable]="true"></agm-marker>
    </agm-map>
    <div class="nota">
      <b>Importante:</b> Es necesario que ubiques el marcador dentro o lo mas cercano a tu propiedad, es posible que la foto
      final y la ubicacion no sea exacta en virtud de ser proporcionada por google maps. Esto no afecta el estimado de valor.</div>
  </div>
</div>
