.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/images/ciudad.jpg');
  background-size: cover;
}

.regresar {
  align-self: flex-start;
  top: 5px;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.title {
  font-size: 6vh;
  color: #575756;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

mat-card {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terminos {
  overflow: auto;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: #4d557d;
  text-align: justify;
  width: 80%;
}
