<div class="oculto">
  <app-reporte-fake [datos]="data_response" *ngIf="data_response&&principal"></app-reporte-fake>
  <app-basic-report-fake [datos]="data_response" *ngIf="data_response&&basic"></app-basic-report-fake>
</div>
<div class="container">
  <div class="buttons" style="display: none">
    <button (click)="pdfBasico()">
      PDF básico
    </button>
    <button (click)="pdfCompleto()">
      PDF completo
    </button>
  </div>
  <mat-card>
    <div class="regresar" [routerLink]="'/inicio'">
      <i class="material-icons">
        arrow_back
      </i>Cerrar Sesión</div>
    <div class="title">GENERAR REPORTE</div>

    <div style="
    width:100%;
    justify-content: center;
    display:  flex;
    flex-direction:  row;
    flex-wrap:  nowrap;
    padding-left:  10px;
    padding-right:  10px;
    align-items: center;
    ">
      <button mat-button color="primary" (click)="anterior()">Anterior</button>
      <h4 *ngIf="contador==0">Paso 1</h4>
      <h4 *ngIf="contador==1">Paso 2</h4>
      <h4 *ngIf="contador==2">Paso 3</h4>
      <h4 *ngIf="contador==3">Paso 4</h4>
      <h4 *ngIf="contador==4">Paso 5</h4>
      <button mat-button color="primary" (click)="siguiente()">Siguiente</button>
    </div>

    <!--Paso 1-->
    <form #f0="ngForm" *ngIf="contador==0" (ngSubmit)="onSubmit(f.value)">
      <div class="addressDesc">

        <mat-form-field class="input_address">
          <input matInput name="street" placeholder="Calle" [(ngModel)]="data['street']" required>
        </mat-form-field>
        <div class="nums">

          <mat-form-field class="input_address">
            <input matInput name="num_ext" placeholder="Núm. Exterior" [(ngModel)]="data['num_ext']" required>
          </mat-form-field>

          <mat-form-field class="input_address">
            <input matInput name="zipCode" type="number" max="5" min="5" placeholder="Código postal" [(ngModel)]="data['zipCode']" required>
          </mat-form-field>
        </div>

        <mat-form-field class="input_address">
          <input matInput name="colonia" placeholder="Colonia" [(ngModel)]="data['colonia']" required>
        </mat-form-field>

        <mat-form-field class="input_address">
          <input matInput name="municipio" placeholder="Municipio/Delegación" [(ngModel)]="data['municipio']" required>
        </mat-form-field>

        <mat-form-field class="input_address">
          <input matInput name="estado" placeholder="Estado" [(ngModel)]="data['estado']" required>
        </mat-form-field>

        <mat-form-field class="input_address">
          <input matInput name="city" placeholder="Ciudad" [(ngModel)]="data['ciudad']" required>
        </mat-form-field>

      </div>
      <div class="maps">
        <agm-map [latitude]="21.082189" [longitude]="-89.6368873" [zoom]="16" [scrollwheel]="false">
          <agm-marker [latitude]="21.082189" [longitude]="-89.6368873" [markerDraggable]="true"></agm-marker>
        </agm-map>
        <!--<p-gmap [options]="options" style="width:100%; height: 230px;" ></p-gmap>-->
        <div class="nota">
          <b>Importante:</b> Es necesario que ubiques el marcador dentro o lo mas cercano a tu propiedad. Es posible que la
          foto final del reporte no sea exacta pero esto no afecta el estimado de valor.</div>
      </div>
    </form>
    <!--Fin de paso 1-->

    <!--Paso 2-->
    <form #f1="ngForm" *ngIf="contador==1">
      <div class="characteristics" style="width:100%;">

        <div class="address">
          <div class="subAddress">
            <span>Dirección:</span>
            <br>
            <p>
              Calle: {{data['street']}} #{{data['num_ext']}}, Col. {{data['colonia']}}
              <br> C.P. {{data['zipCode']}}, {{data['municipio']}}
              <br> {{data['ciudad']}}, {{data['estado']}}
            </p>
          </div>

          <div class="kind">
            <h4>Tipo de propiedad.</h4>
            <br>
            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="data['id_tipo_propiedad']" [ngModelOptions]="{standalone: true}">
              <mat-button-toggle value="2">Casa</mat-button-toggle>
              <mat-button-toggle value="4">Departamento</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="homeStatus">
            <h4>Casa.</h4>
            <br>

            <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="data['status_propiedad']" [ngModelOptions]="{standalone: true}">
              <mat-button-toggle value="sola">Sola</mat-button-toggle>
              <mat-button-toggle value="privada">Privada/Condominio</mat-button-toggle>
            </mat-button-toggle-group>

          </div>
        </div>

        <div class="articles">

          <div class="article_button">
            <div class="button_title">
              <div class="image_title">
                <img class="images" src="../assets/images/cuarto.svg" alt="Smiley face" height="42" width="42" />
                <h4>Recámaras</h4>
              </div>


              <mat-button-toggle-group name="numCuartos" [(ngModel)]="data['recamaras']" [ngModelOptions]="{standalone: true}">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4+</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="article_button">

            <div class="button_title">
              <div class="image_title">
                <img class="images" src="../assets/images/bano.svg" alt="Smiley face" height="42" width="42" />
                <h4>Baños</h4>
              </div>

              <mat-button-toggle-group name="numBanos" [(ngModel)]="data['banos']" [ngModelOptions]="{standalone: true}">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3</mat-button-toggle>
                <mat-button-toggle value="4">4+</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="article_button">

            <div class="button_title">
              <div class="image_title">
                <img class="images" src="../assets/images/medio-bano.svg" alt="Smiley face" height="42" width="42">
                <h4>Medios Baños</h4>
              </div>
              <mat-button-toggle-group name="numMedioBanos" class="medioBano" [(ngModel)]="data['medios_banos']" [ngModelOptions]="{standalone: true}">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3+</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>
          <div class="article_button">
            <div>

            </div>
            <div class="button_title">
              <div class="image_title">
                <img class="images" src="../assets/images/parking.svg" alt="Smiley face" height="42" width="42">
                <h4>Cajones</h4>
              </div>

              <mat-button-toggle-group name="numParking" [(ngModel)]="data['estacionamientos']" [ngModelOptions]="{standalone: true}">
                <mat-button-toggle value="1">1</mat-button-toggle>
                <mat-button-toggle value="2">2</mat-button-toggle>
                <mat-button-toggle value="3">3+</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>

        </div>

        <div class="description">

          <div class="subDescription">

            <mat-form-field class="input_Description">
              <input matInput placeholder="Área construída (m2)" name="asda" [(ngModel)]="data['area_construida']" required>
            </mat-form-field>
            <mat-form-field class="input_Description">
              <input matInput placeholder="Superficie del terreno (m2)" name="asasda" [(ngModel)]="data['superficie_terreno']" required>
            </mat-form-field>
            <div class="years">
              <mat-form-field class="input-Description">
                <input matInput placeholder="Años de antigüedad" name="asffda" [(ngModel)]="data['edad']" [disabled]="Nuevo" required>
              </mat-form-field>
              <mat-checkbox class="example-margin" (change)="nuevo()" [(ngModel)]="Nuevo" [ngModelOptions]="{standalone: true}">Nuevo</mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--Fin de paso 2-->

    <!--Paso 3-->
    <form #f2="ngForm" *ngIf="contador==2">
      <div class="amenidades">

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/ac.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Aire Acondicionado</span>
          <mat-checkbox class="example-margin" [(ngModel)]="aireAcondicionado" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['aire_acondicionado']"></mat-checkbox>

        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/cocina.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Cocina Integral</span>
          <mat-checkbox class="example-margin" [(ngModel)]="cocinaIntegral" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['cocina_integral']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/gimnasio.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Gimnasio</span>
          <mat-checkbox class="example-margin" [(ngModel)]="gimnasio" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['gimnasio']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/terraza.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Roof garden/ terrazas</span>
          <mat-checkbox class="example-margin" [(ngModel)]="roofGarden" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['terraza']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/alberca.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Alberca</span>
          <mat-checkbox class="example-margin" [(ngModel)]="alberca" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['alberca']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/lavado.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Cuarto de servicio</span>
          <mat-checkbox class="example-margin" [(ngModel)]="cuartoServicio" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['cuarto_servicio']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/jardin.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Jardín</span>
          <mat-checkbox class="example-margin" [(ngModel)]="jardin" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['jardin']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/amueblado.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Amueblado</span>
          <mat-checkbox class="example-margin" [(ngModel)]="amueblado" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['amueblado']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/estudio.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Estudio</span>
          <mat-checkbox class="example-margin" [(ngModel)]="estudio" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['estudio']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/jacuzzi.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Jacuzzi</span>
          <mat-checkbox class="example-margin" [(ngModel)]="jacuzzi" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['jacuzzi']"></mat-checkbox>
        </div>

        <div class="miniContainers">
          <div class="imgContainer">
            <img class="images" src="../assets/images/seguridad.svg" alt="Smiley face" height="50" width="50">
          </div>
          <span>Seguridad Privada</span>
          <mat-checkbox class="example-margin" [(ngModel)]="seguridadPrivada" [ngModelOptions]="{standalone: true}" [(ngModel)]="data['seguridad_privada']"></mat-checkbox>
        </div>

      </div>
    </form>
    <!--Fin de paso 3-->

    <!--Pago con tarjeta-->
    <form #f3="ngForm" *ngIf="contador==3">
      <div class="pago-tarjeta">
        <div class="cost">
          <div class="costContainer">
            <span class="texto">Costo Reporte</span>
            <mat-form-field class="input-costo-reporte">
              <input matInput disabled value="costoReporte">
            </mat-form-field>
          </div>
          <div class="costContainer">
            <span class="texto">Código de Cupón</span>
            <mat-form-field class="input-costo-reporte">
              <input matInput placeholder="Código">
            </mat-form-field>
          </div>
          <div class="cupon">
            <span class="descuentos">{{montoDescuento}}</span>
            <button mat-raised-button color="primary" (onClick)="aplicarCodigo()">Aplicar</button>
          </div>
          <div class="costContainer">
            <span class="texto">Subtotal</span>
            <mat-form-field class="input-costo-reporte">
              <input matInput disabled value="subtotalReporte">
            </mat-form-field>
          </div>
          <div class="divisor">
            <hr>
          </div>
          <div class="costContainer">
            <span class="texto">TOTAL</span>
            <mat-form-field class="input-costo-reporte">
              <input matInput disabled value="totalReporte">
            </mat-form-field>
          </div>
        </div>

        <mat-tab-group class="payment">
          <mat-tab label="Tarjeta Credito/Debito">
            <div class="paymentInfo">
              <div class="tittle">Ingresa los datos de tu tarjeta de crédito o débito</div>
              <div class="subContainer">
                <div class="containerPayment1">
                  <mat-form-field class="input-payment">
                    <input matInput placeholder="Nombre" [(ngModel)]="dataCreditCar['nombre']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field class="input-payment">
                    <input matInput placeholder="Apellidos" [(ngModel)]="dataCreditCar['apellidos']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>

                  <div class="expiredDate">
                    <mat-form-field class="input-expiredDate">
                      <input matInput placeholder="MM" [(ngModel)]="dataCreditCar['mm']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                    <mat-form-field class="input-payment">
                      <input matInput placeholder="AA" [(ngModel)]="dataCreditCar['aa']" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                  </div>
                </div>

                <div class="containerPayment">
                  <mat-form-field class="input-tarjeta">
                    <input matInput placeholder="Número de tarjeta" [(ngModel)]="dataCreditCar['num_tarjeta']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field class="input-payment">
                    <input matInput placeholder="Código de seguridad" [(ngModel)]="dataCreditCar['cod_seguridad']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field class="input-payment">
                    <input matInput placeholder="Código postal" [(ngModel)]="dataCreditCar['zip']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                  <mat-form-field class="input-payment">
                    <input matInput placeholder="Teléfono" [(ngModel)]="dataCreditCar['telefono']" [ngModelOptions]="{standalone: true}">
                  </mat-form-field>
                </div>
              </div>
              <div class="payButton">
                <button mat-raised-button color="primary" (onClick)="pagarAvaluo()" [disabled]="loading">Pagar Ahora</button>
                <!--<p-progressBar *ngIf="loading" class="progress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->
              </div>
            </div>
          </mat-tab>
          <mat-tab label="PayPal">
            <button mat-raised-button color="primary" (onClick)="pagarAvaluoPayPal()" [disabled]="loading">Pagar Ahora con PayPal</button>

            <!--<p-progressBar *ngIf="loading" class="progress" mode="indeterminate" [style]="{'height': '6px'}"></p-progressBar>-->
          </mat-tab>
        </mat-tab-group>


      </div>
    </form>
    <!--Fin pago con tarjeta-->

    <!--Datos facturacion-->
    <form #f4="ngForm" *ngIf="contador==4">
      <div class="datos-facturacion">
        <div class="content">
          <div class="principal">
            <div class="principalContainer">
              <mat-form-field class="input-payment">
                <input matInput placeholder="Razón social" [(ngModel)]="dataRFC['razon_social']" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <div class="principalContainer">
              <mat-form-field class="input-payment">
                <input matInput placeholder="RFC" [(ngModel)]="dataRFC['rfc']" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>
          <div class="contact">

            <div class="tittle">Datos del contacto</div>

            <div class="contactContainer">
              <mat-form-field class="input-payment">
                <input matInput placeholder="Nombre del contacto" [(ngModel)]="dataRFC['nombre_contacto']" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <div class="contactContainer">
              <mat-form-field class="input-payment">
                <input matInput placeholder="Teléfono celular" [(ngModel)]="dataRFC['telefono']" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>

            <div class="contactContainer">
              <mat-form-field class="input-payment">
                <input matInput placeholder="Correo" [(ngModel)]="dataRFC['correo']" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!--Fin datos facturacion-->

  </mat-card>
</div>
