<div class="container" id="element-to-print">
  <div class="scrollable">

    <!--{{datos.data.request.colonia|json}}-->
    <div class="superTitle">
      <div class="superContainer">
        <a href="#">
          <img class="logo" src="assets/images/logo_.png" />
        </a>
      </div>
    </div>

    <div class="title">
      <div class="titleContainer">
        <div class="subTitleContainer">
          <span class="principalTitle">REPORTE DEL INMUEBLE</span>
          <div class="idReport">
            <span class="reportID">ID {{datos.data._id}}</span>
            <span class="generatedDate">Reporte generado el {{datos.data.dateCreated}}
              <!--{{generatedReport}}-->
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="characteristics">
      <div class="middleTitle">
        <span>CARACTERÍSTICAS DE LA PROPIEDAD</span>
      </div>
      <div class="address">
        <div class="subAddress">
          <div class="dir">
            <div class="littleTitle">
              <span>DIRECCIÓN</span>
            </div>

            <div class="direcContent">
              <p> {{datos.data.response.address.colonia}}, {{datos.data.response.address.street}}
                <!--{{colonia}}, {{calle}}-->No. Ext. {{datos.data.response.address.num_ext}}
                <!--{{numExt}}-->, No. Int s/n
                <!--{{numInt}}-->
              </p>
              <p>C.P. {{datos.data.response.address.zip}}
                <!--{{codigoPostal}}-->
              </p>
              <p> {{datos.data.response.address.ciudad}}, {{datos.data.response.address.estado}}
                <!--{{ciudad}}, {{estado}}-->
              </p>
            </div>

          </div>
          <div class="carac">
            <div class="littleTitle">
              <span>CARACTERÍSTICAS</span>
            </div>

            <div class="caracContainer">
              <div class="subCarac">
                <div class="imgContainer">
                  <img class="images" src="../assets/images/cuarto.png" alt="Smiley face" height="42" width="42" />
                </div>
                <!--{{numCuartos}}-->{{datos.data.response.characteristics.recamaras}} Cuartos

              </div>

              <div class="subCarac">
                <div class="imgContainer">
                  <img class="images" src="../assets/images/bano.png" alt="Smiley face" height="42" width="42" />
                </div>
                <!--{{numBanos}}-->{{datos.data.response.characteristics.banos}} Baños

              </div>

              <div class="subCarac">
                <div class="imgContainer">
                  <img class="images" src="../assets/images/medio-bano.png" alt="Smiley face" height="42" width="42" />
                </div>
                <!--{{numMBanos}}-->{{datos.data.response.characteristics.medios_banos}} Medios Baños

              </div>

              <div class="subCarac">
                <div class="imgContainer">
                  <img class="images" src="../assets/images/parking.png" alt="Smiley face" height="42" width="42" />
                </div>
                <!--{{numParking}}-->{{datos.data.response.characteristics.estacionamientos}} Parking

              </div>

            </div>
          </div>

        </div>

        <div class="amenidades">
          <div class="littleTitle">AMENIDADES</div>
          <div class="containerAmenidades">

            <div class="subamenidades" *ngFor="let item of datos.data.request.amenities">

              <div class="imgContainer" *ngIf="item=='cocina_integral'">
                <img class="images" src="../assets/images/cocina.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='aire_acondicionado'">
                <img class="images" src="../assets/images/ac.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='gimnasio'">
                <img class="images" src="../assets/images/gimnasio.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='terraza'">
                <img class="images" src="../assets/images/terraza.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='alberca'">
                <img class="images" src="../assets/images/alberca.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='cuarto_servicio'">
                <img class="images" src="../assets/images/lavado.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='jardin'">
                <img class="images" src="../assets/images/jardin.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='amueblado'">
                <img class="images" src="../assets/images/amueblado.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='estudio'">
                <img class="images" src="../assets/images/estudio.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='jacuzzi'">
                <img class="images" src="../assets/images/jacuzzi.png" alt="Smiley face" height="42" width="42" />
              </div>
              <div class="imgContainer" *ngIf="item=='seguridad'">
                <img class="images" src="../assets/images/seguridad.png" alt="Smiley face" height="42" width="42" />
              </div>

              <span *ngIf="item=='seguridad'">seguridad</span>
              <span *ngIf="item=='jacuzzi'">Jacuzzi</span>
              <span *ngIf="item=='estudio'">Estudio</span>
              <span *ngIf="item=='amueblado'">Amueblado</span>
              <span *ngIf="item=='jardin'">Jardín</span>
              <span *ngIf="item=='cuarto_servicio'">Cuarto de Servicio</span>
              <span *ngIf="item=='alberca'">Alberca</span>
              <span *ngIf="item=='terraza'">Roof garden/ terraza</span>
              <span *ngIf="item=='gimnasio'">Gimnasio</span>
              <span *ngIf="item=='aire_acondicionado'">Aire Acondicionado</span>
              <span *ngIf="item=='cocina_integral'">Cocina Integral</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divisor">
      <hr>
    </div>

    <div class="estimatedValue">

      <div class="middleTitle">
        <span>ESTIMADO DE VALOR EN {{datos.data.dateCreated}}</span>
      </div>

      <div class="prices">
        <div class="totalEstimated">
          <div class="estimated1">
            <h3>Estimado del valor total</h3>

            <h4>$
              <!--{{precioEstimado}}-->{{datos.data.response.valuacion.valuacion | number:'0.1-2'}}</h4>
            <p>Estimado de valor total*</p>
          </div>

          <div class="estimated2">
            <div class="inferior">
              <h4>$
                <!--{{precioInferior}}-->{{datos.data.response.valuacion.intervalo_bajo | number:'0.1-2'}}</h4>
              <p>Limite inferior</p>
            </div>
            <div class="superior">
              <h4>$
                <!--{{precioSuperior}}-->{{datos.data.response.valuacion.intervalo_alto | number:'0.1-2'}}</h4>
              <p>Limite Superior</p>
            </div>
          </div>

          <div class="subText">
            <p>
              *Estimación calibrada con información de precios de oferta
            </p>
          </div>

        </div>
        <div class="html2pdf__page-break"></div>
        <div class="mEstimated">

          <div class="mEstimated1">
            <h3>Estimado del valor por m2</h3>

            <h4>$
              <!--{{precioEstimadoM2}}-->{{datos.data.response.valuacion.valuacion_m2 | number:'0.1-2'}}</h4>
            <p>Estimado de valor por m2*</p>
          </div>

          <div class="mEstimated2">
            <div class="mInferior">
              <h4>$
                <!--{{precioMInferior}}-->{{datos.data.response.valuacion.intervalo_bajo_m2 | number:'0.1-2'}}</h4>
              <p>Limite inferior</p>
            </div>
            <div class="mSuperior">
              <h4>$
                <!--{{precioMSuperior}}-->{{datos.data.response.valuacion.intervalo_alto_m2 | number:'0.1-2'}} </h4>
              <p>Limite Superior</p>
            </div>
          </div>

        </div>
      </div>

      <div class="mapView">
        <div class="houseView">
          <img [src]="urlImage">
        </div>
        <div class="map">
          <img [src]="url">
          <!-- <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [scrollwheel]="false">
           
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map> -->
        </div>
      </div>

      <div class="intro">
        <h2>*Foto aproximada de la fachada y ubicación de inmueble proporcionado por Google.</h2>
        <h3></h3>
        <p>
          El reporte de tu inmueble de Región4 se construye a partir de nuestros modelos de valuación automática, los cuales nos permiten
          dar referencias de valor para tu propiedad de manera instantánea. Los modelos y algoritmos utilizados por Región4
          se alimentan de los precios de millones de ofertas y cierres de transacciones. Región4 provee un estimado de valor
          y no sustituye aun avalúo certificado.
        </p>
      </div>



    </div>

    <div class="divisor">
      <hr>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="propiedades">

      <div class="middleTitle">
        <span>PROPIEDADES COMPARABLES</span>
      </div>

      <div class="intro">
        <h2>Esta sección muestra propiedades similares a la tuya que fueron anunciadas en los últimos 6 meses.</h2>
        <h3></h3>
        <p> Acontinuación proveemos información sobre ofertas de propiedades comparables con la tuya.
          <br> Están ordenadas utilizando una medida de similitud que toma en cuenta las características de cada propiedad. </p>

      </div>

      <!-- <div class="map2">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="12" [scrollwheel]="false">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
      </div> -->

      <div class="table">
        <div class="example-container ">
          <!--mat-elevation-z8-->
          <mat-table #table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> No. </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.position | date:'yy-MM-dd'}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="oferta">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> Oferta </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell2"> {{element.oferta}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="total">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> $ Total </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell2">{{element.total | number: '0.1-2'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="m2">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> $ m2 </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.m2 | number: '0.1-2'}} m
                <sup>2</sup>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cuartos">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> No. Cuartos </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.cuartos}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="banos">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> No. Baños </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.banos}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="parking">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> No. Parking </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.parking}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="construccion">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> Construccion </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.construccion | number: '0.1-2'}} m
                <sup>2</sup>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="edad">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> Edad </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.edad}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="distancia">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> Distancia </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.distancia | number: '0.1-2'}} Km</mat-cell>
            </ng-container>

            <ng-container matColumnDef="similitud">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="headerCell"> % Similitud </mat-header-cell>
              <mat-cell *matCellDef="let element" class="containerCell"> {{element.similitud | number: '0.1-2'}} %</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </div>

      </div>
    </div>

    <div class="divisor">
      <hr>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="preciosColonia">
      <div class="middleTitle">
        <span>COLONIA {{datos.data.response.address.colonia}}</span>
      </div>

      <div class="intro">
        <h2>Esta sección te ayudará a conocer los precios en la colonia, el tipo de vivienda que existe y el número de listados
          mensuales.
        </h2>
        <h3>Oferta en los últimos meses</h3>
        <p>A continuación se muestra un número aproximado de cuántas casas y departamentos han sido listados en portales de
          Internet.
        </p>
      </div>

      <div class="ofertasMes">

        <div class="ultimoMes" *ngIf="datos.data.response.historico">

          <div class="umesContainer">

            <div class="calendarContainer">
              <img src="../assets/images/calendary.png" alt="Smiley face">
            </div>
            <div class="numCasas">
              <h1>{{datos.data.response.historico.listado_promedio_1_mes || ''}}
                <!--{{uMesCasas}}-->
              </h1>
              <p>Casas y departamentos listados en el último mes</p>
            </div>
          </div>
          <div class="tablaMes">

            <table>
              <tr>
                <th colspan="2" class="titleTable">
                  Precios promedios de oferta en la colonia {{datos.data.response.address.colonia}}
                </th>
              </tr>

              <tr>
                <td class="promedioTotal">$
                  <!--{{promedioTotal}}-->{{datos.data.response.historico.oferta_promedio_6_meses | number:'0.1-2'}}</td>
                <td class="promediom2">
                  <!--{{promediom2}}-->{{datos.data.response.historico.precio_promedio_m2_6_meses | number:'0.1-2'}}</td>
              </tr>
              <tr>
                <td class="txtPromedio">Total Promedio</td>
                <td class="txtPromedio">Promedio m2</td>
              </tr>

            </table>
          </div>

        </div>

        <div class="seisMeses" *ngIf="datos.data.response.historico">

          <div class="smesContainer">

            <div class="calendarContainer">
              <img src="../assets/images/calendary.png" alt="Smiley face">
            </div>
            <div class="numCasas">
              <h1>
                <!--{{sMesCasas}}-->{{datos.data.response.historico.listado_promedio_6_meses}}</h1>
              <p>Casas y departamentos listados en los últimos 6 meses</p>
            </div>
          </div>

          <div class="tablaMes">
            <table>
              <tr>
                <th colspan="2" class="titleTable">
                  Información de cierres
                </th>
              </tr>

              <tr>
                <td class="promediom2">
                  <!--{{cierrePromedioTotal}}-->${{datos.data.response.historico.cierres_promedio_6_meses | number:'0.1-2'}}</td>
                <td class="promediom2">
                  <!--{{cierrePromediom2}}-->${{datos.data.response.historico.cierres_promedio_m2_6_meses | number:'0.1-2'}}</td>
              </tr>
              <tr>
                <td class="txtPromedio">Total Promedio</td>
                <td class="txtPromedio">Promedio m2</td>
              </tr>

            </table>
          </div>

        </div>

      </div>

    </div>

    <div class="divisor">
      <hr>
    </div>
    <!--<div class="html2pdf__page-break"></div>-->

    <!-- Inicio para aplicar las graficas-->
    <!-- Grafica Precio promedio en la colonia-->
    <div class="graficaPrecioColonia">
      <div class="containerGraficaColonia">

        <div class="intro3">
          <h3>Precios promedio de oferta en la colonia {{datos.data.response.address.colonia}}</h3>
        </div>
        <div class="graficaContainer" id="graficaColonia">
          <p-chart type="bar" [data]="datosPrecioColonia"></p-chart>
        </div>

      </div>
    </div>

    <div class="html2pdf__page-break"></div>

    <div class="graficaDescripciones">

      <div class="propiedadesEdad">

        <div class="propiedadPreciom2">
          <div class="grafica1Container">
            <div class="intro">
              <h3> Propiedades según precio por m
                <sup>2</sup>
              </h3>
              <p>La gráfica muestra el porcentaje de las ofertas en la colonia ordenadas por rango de precios (casas y departamentos
                listados en los últimos 6 meses).</p>
            </div>
            <div class="graficaContainer1" id="graficaPropiedadM2">
              <p-chart type="bar" [data]="datosPropiedadesM2"></p-chart>
            </div>
          </div>
        </div>

        <div class="edadVivienda">
          <div class="grafica2Container">
            <div class="intro">
              <h3> Edad y tipo de vivienda
              </h3>
              <p>
                La gráfica muestra el porcentaje de ofertas en la colonia según su edad.</p>
            </div>
            <div class="graficaContainer2" id="graficaDatosVivienda">
              <p-chart type="bar" [data]="datosEdadVivienda"></p-chart>
            </div>
          </div>
        </div>

      </div>

      <div class="recamarasSuperficie">

        <div class="numRecamaras">
          <div class="grafica1Container">
            <div class="intro">
              <h3> Número de recámaras
              </h3>
              <p>
                La gráfica muestra el número de departamentos según su edad y número de recámaras (dormitorios).</p>
            </div>
            <div class="graficaContainer1" id="graficaRecamaras">
              <p-chart type="bar" [data]="datosRecamaras"></p-chart>
            </div>
          </div>
        </div>

        <div class="html2pdf__page-break"></div>

        <div class=superficieConstruida>
          <div class="grafica2Container">
            <div class="intro">
              <h3>
                Supercie construida
              </h3>
              <p>
                La gráfica muestra el número de departamentos según su edad y supercie construida.
              </p>
            </div>
            <div class="graficaContainer2" id="graficaSuperficie">
              <p-chart type="bar" [data]="datosSuperficieConstruida"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divisor">
      <hr>
    </div>
    <!-- Fin graficas-->

    <div class="evolucionColonia">
      <div class="middleTitle">
        <span>EVOLUCIÓN DE LOS PRECIOS EN LA COLONIA</span>
      </div>

      <div class="intro">
        <h2>
          A continuación te ofrecemos datos que muestran la variación de precios en la colonia.
        </h2>

        <h3>
          Precio histórico por m2
        </h3>
        <p>
          Esta sección muestra el comportamiento histórico del valor estimado de la propiedad en cuestión comparado con el cambio en
          los precios en la colonia a través del tiempo.
          <br> La siguiente gráfica muestra el valor estimado de la propiedad a través de los años (antes de la fecha de generación
          del reporte). Esta información está basada en una valuación automática que utiliza los datos históricos disponibles
          de propiedades similares en la misma colonia.
          <br> Una vez obtenida la información, ésta se compara con el desempeño del mercado local usando la base de datos de
          Región4.
        </p>

      </div>
      <div class="plusValia">
        <div class="flechaContainer">
          <img src="../assets/images/flecha.png" alt="Smiley face">
        </div>
        <div class="plusValiaContainer">
          <h2>
            +{{plusvalia | number: '0.1-2'}}%
          </h2>
          <p>
            Plusvalía anualizada
          </p>
        </div>
      </div>

    </div>

    <div class="divisor">
      <hr>
    </div>
    <div class="html2pdf__page-break"></div>

    <div class="glosario">
      <div class="middleTitle">
        <span>GLOSARIO</span>
      </div>
      <div class="glosarioContainer">

        <div class="rightText">
          <div class="intro2">
            <h3>Apreciación</h3>
            <p>Cambio positivo en el precio del inmueble comparado con un periodo base (enero 2014). El cálculo se hace con
              el modelo de valuación automática de Región4. El cálculo no toma en cuenta inflación.</p>
          </div>

          <div class="intro2">
            <h3>Avalúo</h3>
            <p>Un avalúo corresponde a la valoración comercial de un bien raíz. Generalmente es un documento elaborado por un
              valuador profesional, agente de la propiedad inmobiliaria o corredor de propiedades. Además de la valoración
              comercial, contiene información sobre el avalúo fiscal, los títulos de dominio, así como la contribución, ubicación,
              tamaño, calidad de construcción y vida útil de la edificación.</p>
          </div>

          <div class="intro2">
            <h3>Condición</h3>
            <p>
              Nueva o usada. La vivienda nueva es la que tiene menos de un año de construida o remodelada. La usada tiene más Fde un año.</p>
          </div>

          <div class="intro2">
            <h3>Fecha de oferta</h3>
            <p>Fecha de publicación de la oferta de venta de un inmueble en un portal de Internet.</p>
          </div>

          <div class="intro2">
            <h3>Información de cierres</h3>
            <p>Precios de propiedad es que cuentan con un avalúo certificado y un crédito hipotecario asociado. Se toma el precio
              de cierre como el valor del inmueble.</p>
          </div>

          <div class="intro2">
            <h3>Límite inferior y superior</h3>
            <p>Rangos de valor mínimo y máximo construidos a partir de un intervalo de confianza estadística.</p>
          </div>

          <div class="intro2">
            <h3>Modelo de Valuación Automática</h3>
            <p>Modelo estadístico propietario de Región4 el cual toma en cuenta las características de la vivienda (ubicación,
              superficie, tipología, edad, etc.), los precios de cierre y precios de oferta de propiedades similares, para
              construir una estimación del precio de mercado del inmueble.</p>
          </div>

          <div class="intro2">
            <h3>Precio oferta</h3>
            <p>Precio al que se ofrece una propiedad en un sitio de listados en Internet.</p>
          </div>

          <div class="intro2">
            <h3>Propiedades</h3>
            <p>Casas o departamentos para uso residencial.</p>
          </div>

          <div class="intro2">
            <h3>Propiedades listadas</h3>
            <p>Propiedades que aparecen en sitios de ofertas en Internet.</p>
          </div>

          <div class="intro2">
            <h3>Similitud</h3>
            <p>Medida de similitud entre dos propiedades. Se construye con un modelo estadístico propietario de Región4. La
              similitud va del 0 al 100%, donde 100% equivale a dos propiedades exactamente iguales.</p>
          </div>

          <div class="intro2">
            <h3>Superficie de construcción</h3>
            <p>Superficie habitable de la residencia, no considera terrazas, estacionamientos o jardines.</p>
          </div>

          <div class="intro2">
            <h3>Superficie de terreno</h3>
            <p>Superficie total de la propiedad, toma en cuenta terrazas, estacionamientos y jardines.</p>
          </div>

        </div>
      </div>
    </div>

    <div class="divisor">
      <hr>
    </div>
    <!--<div class="html2pdf__page-break"></div>-->
    <div class="terminos">
      <div class="middleTitle">
        <span>TÉRMINOS Y CONDICIONES</span>
      </div>

      <div class="contenido">
        <p>
          Región4 es un estimador del valor de propiedades residenciales.
          <br>
          <br> Región4 provee una opinión de valor objetiva basada en millones de puntos de información sobre viviendas en México.
          Esto te permite obtener información para la toma de decisiones cuando compras, vendes o rentas un inmueble. Para
          saber más consulta www.region4.mx
          <br>
          <br> El uso de este reporte está sujeto a los Términos y Condiciones sobre los que fue generado. Éstos indican que
          el usuario reconoce que el reporte fue generado sin la visita física a la propiedad analizada.
          <br>
          <br> El reporte de Región4 constituye únicamente un estimado de valor. Derechos reservados Región4 Asesores Inmobiliarios
          S.C.P. 2017.
        </p>
      </div>
    </div>

  </div>

</div>
