<html id="recoveryPassword">

<head>
  <style>
    .mainContainer {
      width: 100%;
      display: inline-block;
      flex-direction: column;
    }

  </style>
</head>

<body>
  <div class="mainContainer" style="width:100%; display:inline-block; ">
    <div class="superTitle" style=" width: 100%; display: inline-block;">
      <div class="superContainer" style="padding-bottom: 10px;  width:100%; display: inline-block;">
        <a href="#" >
          <img class="logo" src="https://www.valorinmuebles.com.mx/assets/images/logoFinal.png"  
          style="    height: 100px;
          width: 350px;" />
        </a>
      </div>
    </div>
    <div class="container2" style=" text-align: left; width: 100%; display: inline-block;">
      <div style="    text-align: left; width: 100%; display: inline-block; ">
        <h1 *ngIf="cliente">Apreciable {{cliente.name}}</h1>
        <h3>Has recibido este correo porque solicitaste recuperar tu contraseña. </h3>
      </div>
      <div *ngIf="cliente" style="    text-align: left;
      width: 100%;
      display: inline-block;">
        Tu contraseña es: {{cliente.password}}
        <br> Ingresala en:http://www.valorinmuebles.com.mx
      </div>

      <div style="    text-align: left;
      width: 100%;
      display: inline-block;">
        <span>Recomendamos que memorices estos datos y borres inmediatamente este correo o en su defecto lo guardes en un lugar
          seguro.
          <br> No respondas a este correo, si requieres más información. Contáctanos a ventas@region4.mx
        </span>

      </div>

      <div style="text-align: center;
      width: 100%;
      display: inline-block;">
        <h3>
          <a href="https://www.valorinmuebles.com.mx/terminos-y-condiciones">Términos y Condiciones</a>
        </h3>
      </div>
    </div>
  </div>

</body>

</html>
