<html id="recoveryPassword">

<head>


</head>

<body>
  <div class="mainConainer" style="width:100%; display:flex; flex-direction: column;">
    <div class="superTitle" style="background: #28225c; width: 100%; display: flex;">
      <div class="superContainer" style="padding-bottom: 10px;  width:650px; padding-bottom: 10px;  display: flex;flex-direction: column;
      justify-content: flex-start">
        <a href="#">
          <img class="logo" src="https://valorinmuebes.herokuapp.com/assets/images/logo_.png" />
        </a>
      </div>
    </div>

    <div class="container2" style=" text-align: left; width: 100%; display: flex;flex-direction: column;">
      <div style="    text-align: left; width: 100%; display: flex;  flex-direction: column;">
        <h1>Apreciable {{name}}</h1>
        <h3>Has recibido este correo porque solicitaste recuperar tu contraseña. </h3>
      </div>
      <div style="    text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;">
        Tu contraseña es: {{password}}
        <br> Ingresala en:http://www.valorinmuebles.com.mx
      </div>

      <div style="    text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;">
        <span>Recomendamos que memorices estos datos y borres inmediatamente este correo o en su defecto lo guardes en un lugar
          seguro.
          <br> No respondas a este correo, si requieres más información. Contáctanos al 9992-40-99-55.
        </span>

      </div>

      <div style="    text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;">
        <h3>
          <a href="#">Terms</a> |
          <a href="#">Privacy</a> |
          <a href="#">Unsubscribe</a>
        </h3>
      </div>
    </div>
  </div>

</body>

</html>11