<div id="recoveryPassword" class="oculto">
  <html>

  <head>
    <style>
      .mainContainer {
        width: 100%;
        display: inline-block;
        flex-direction: column;
      }

    </style>
  </head>

  <body>
    <div class="mainContainer" style="width:100%; display:inline-block; ">
      <div class="superTitle" style="background: #28225c; width: 100%; display: inline-block;">
        <div class="superContainer" style="padding-bottom: 10px;  width:100%; display: inline-block;">
          <a href="#" style="margin: 15px;">
            <img class="logo" src="https://valorinmuebes.herokuapp.com/assets/images/logo3.png" style="height: 78px;
              width: 165px;
              margin-left: 35px;
              margin-top: 10px;" />
          </a>
        </div>
      </div>
      <div class="container2" style=" text-align: left; width: 100%; display: inline-block;">
        <div style="    text-align: left; width: 100%; display: inline-block; ">
          <h1 *ngIf="cliente">Apreciable {{cliente.name}}</h1>
          <h3>Has recibido este correo porque solicitaste recuperar tu contraseña. </h3>
        </div>
        <div *ngIf="cliente" style="    text-align: left;
          width: 100%;
          display: inline-block;">
          Tu contraseña es: {{cliente.password}}
          <br> Ingresala en:http://www.valorinmuebles.com.mx
        </div>

        <div style="    text-align: left;
          width: 100%;
          display: inline-block;">
          <span>Recomendamos que memorices estos datos y borres inmediatamente este correo o en su defecto lo guardes en un lugar
            seguro.
            <br> No respondas a este correo, si requieres más información. Contáctanos a ventas@region4.mx
          </span>

        </div>

        <div style="text-align: center;
          width: 100%;
          display: inline-block;">
          <h3>
            <a href="https://www.valorinmuebles.com.mx/terminos-y-condiciones">Términos y Condiciones</a>
          </h3>
        </div>
      </div>
    </div>

  </body>

  </html>

</div>
<div class="container">
  <mat-card>
    <div class="regresar" [routerLink]="'/inicio'">
      <i class="material-icons">
        arrow_back
      </i>Volver a inicio</div>
    <div class="title">RESTABLECER CONTRASEÑA</div>
    <div class="sub-header">
      Ingrese su correo y a continuación presione el botón recuperar contraseña.
    </div>
    <form #f="ngForm">
      <mat-form-field class="">
        <input matInput placeholder="Correo" [formControl]="emailFormControl" type="email">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Ingresa un email valido
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          El correo es
          <strong>necesario</strong>
        </mat-error>
      </mat-form-field>
      <div class="actions">
        <button mat-raised-button color="primary" [disabled]="(!emailFormControl.valid)" (click)="recuperar()">Recuperar</button>
      </div>
    </form>
  </mat-card>
</div>
