<div class="container">
  <mat-card>
    <div class="regresar" [routerLink]="'/inicio'">
      <i class="material-icons">
        arrow_back
      </i>Volver a inicio</div>
    <div class="title">POLÍTICA DE COOKIES</div>
    <div class="terminos">
      <p> Al entrar en esta web ya has sido informado sobre la utilización de las cookies a través de un aviso o alerta. Si has
        accedido y sigues navegando, estás aceptando la instalación de estas cookies.</p>
      <h2>¿QUÉ SON LAS COOKIES? </h2>
      <p>
        Una cookie es un fichero que se descarga en tu ordenador o equipo al acceder a determinadas páginas web. Las cookies permiten
        a una página web, entre otras cosas, almacenar y recuperar información sobre los hábitos de navegación del Usuario
        o de su equipo y, dependiendo de la información que contengan y de la forma en que utilice tu equipo, pueden utilizarse
        para reconocer al Usuario.
      </p>
    </div>
  </mat-card>
</div>
