<div class="amenidades">

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/ac.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Aire Acondicionado</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Aire Acondicionado" [(ngModel)]="selectedAA" inputId="AA" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/cocina.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Cocina Integral</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Cocina Integral" [(ngModel)]="selectedCI" inputId="CI" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/gimnasio.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Gimnasio</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Gimnasio" [(ngModel)]="selectedGym" inputId="GYM" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/terraza.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Roof garden/ terrazas</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Terraza" [(ngModel)]="selectedTerraza" inputId="Terraza" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/alberca.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Alberca</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Alberca" [(ngModel)]="selectedAlberca" inputId="Alberca" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/lavado.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Cuarto de servicio</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Lavado" [(ngModel)]="selectedLavado" inputId="Lavado" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/jardin.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Jardín</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Jardin" [(ngModel)]="selectedJardin" inputId="Jardin" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/amueblado.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Amueblado</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Amueblado" [(ngModel)]="selectedAmueblado" inputId="Amueblado" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/estudio.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Estudio</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Estudio" [(ngModel)]="selectedEstudio" inputId="Estudio" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/jacuzzi.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Jacuzzi</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Jacuzzi" [(ngModel)]="selectedJacuzzi" inputId="Jacuzzi" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

  <div class="miniContainers">
    <div class="imgContainer">
      <img class="images" src="../assets/images/seguridad.svg" alt="Smiley face" height="50" width="50">
    </div>
    <span>Seguridad Privada</span>
    <div class="ui-g-12">
      <p-checkbox name="amenidades" value="Seguridad" [(ngModel)]="selectedSeguridad" inputId="Seguridad" [ngModelOptions]="{standalone: true}"
        (onChange)="setConfig()"></p-checkbox>
    </div>
  </div>

</div>
