.amenidades{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-around;
}
.miniContainers{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100px; 
    margin-left: 10px;
    margin-right: 10px;
}
.imgContainer{
    width:100%;
}