/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html {
  overflow: hidden !important;
}

body {
  margin: 0 !important;
  height: 100%;
  width: 100%;
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.ui-dropdown {
  width: 100% !important;
}

button {
  border-radius: 30px !important;
}

.ui-button {
  border: 1px solid #009640 !important;
  background: #009640 !important;
}

.ui-selectbutton .ui-button {
  border: 1px solid #96e9ba !important;
  background: white !important;
  border-radius: 10px;
}

.ui-selectbutton .ui-button.ui-state-active {
  border: 1px solid #009640 !important;
  background: #009640 !important;
}

.mat-input-element {
  color: #009640 !important;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #575756;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #575756;
}

.mat-step-header .mat-step-icon {
  background-color: #009640 !important;
}

.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box {
  border: 1px solid #96e9ba !important;
  background: #96e9ba !important;
}

.ui-chkbox-box.ui-state-active,
.ui-radiobutton-box.ui-state-active {
  border: 1px solid #009640 !important;
  background: #009640 !important;
}

.ui-growl-item-container.ui-state-highlight.ui-growl-message-info {
  background-color: #009640 !important;
  border-color: #009640 !important;
}

body {
  font-family: 'Poppins', sans-serif !important;
}
