html *{
    font-family: 'Poppins', sans-serif !important;
}
.container {
    
    width: 100%;
    height: 100%;
    
}

.scrollable {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.title {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
    vertical-align: top;
}

.titleContainer {
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
    flex-wrap: wrap;
}

.subTitleContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.principalTitle {
    background-color: transparent;
    line-height: 38px;
    /*width: 60%;*/
    text-align: left;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 700;
    color: #28265A;
    font-size: 32px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.idReport {
    /*width: 20%;*/
    padding-top: 10px;
}

.reportID {
    padding-top: 40px;
    font-weight: 300;
    line-height: 14px;
    padding-right: 5px;
    color:black;
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: right;
    background-color: transparent;
    font-size: 14px;
}

.generatedDate {
    font-weight: 300;
    line-height: 14px;
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: right;
    font-size: 10px;
    padding-right: 5px;
}

.characteristics {
    /*display: flex;
    flex-direction: column;*/
    display: table-column;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.subAddress {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

.dir {
    padding-left:7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.dirContent {
    height: 100px;
}

.direcContent {
    width: 310px;
    /*font-family: 'Poppins', sans-serif !important;*/
    background-color: transparent;
    /*min-height: 143px;*/
    color: #28245B;
}

.carac {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.caracContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

.subCarac {
    width: 120px;
    padding: 5px 5px 5px 5px;
    font-size: 11px;
    /*font-family: 'Poppins', sans-serif !important;*/
    /*-weight: 300;*/
    color: #28245B;
    
}

.middleTitle {
    height: 25px;
    line-height: 24px;
    /*-family: 'Poppins', sans-serif !important;*/
    font-weight: 300;
    color: #9EA3A3;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.middleTitle span {
    /*width: 80%;*/
    width: 800px;
}

.littleTitle {
    /*font-weight: 300;*/
    width: 310px;
    /*font-family: 'Poppins', sans-serif !important;*/
    background-color: transparent;
    /*min-height: 143px;*/
    color: #28245B;
    padding-top: 5px;
    padding-bottom: 5px;
}

.amenidades {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /*min-width:300px;*/
    width: 400px;
}

.containerAmenidades {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.subamenidades {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    
    text-align: center;
    width: 100px;
    display: flex;
    flex-direction: column;
}

.subamenidades span {
    font-weight: 300;
    line-height: 14px;
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    font-size: 12px;
}

.imgContainer {
    width: 100%;
    text-align: center;
}

.estimatedValue {
    display: table-column;
    /*display: flex;
    flex-direction: column;
    justify-content: space-between;*/
}

.prices {
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: center;
    padding-bottom: 120px;
}

.totalEstimated {
    text-align: center;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.estimated1 h4 {
    line-height: 25px;
    color: #009640;
   /* font-family: 'Poppins', sans-serif !important;*/
    font-weight: 700;
    font-size: 21px;
}

.estimated1 h3 {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
    font-weight: 700;
}

.estimated1 p {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
}

.estimated2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.estimated2 div {
    padding-left: 5px;
    padding-right: 5px;
}

.estimated2 h4 {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 40px;
    font-weight: 300;
}

.estimated2 p {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
}

.subText p {
    line-height: 12px;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 300;
    min-height: 33px;
    background-color: transparent;
    color: #999999;
    position: relative;
    margin-top: 7px;
    font-size: 10px;
}

.mEstimated {
    width: 320px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.mEstimated div p {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
}

.mEstimated1 {
    height: 100px;
}

.mEstimated1 h3 {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
    font-weight: 700;
}

.mEstimated1 h4 {
    /*font-family: 'Poppins', sans-serif !important;
    text-align: center;
    min-height: 40px;
    font-weight: 300;*/

    line-height: 25px;
    color: #009640;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 700;
    font-size: 21px;
}

.mEstimated1 p {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
}

.mEstimated2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mEstimated2 div {
    padding-left: 5px;
    padding-right: 5px;
}

.mEstimated2 div h4 {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 40px;
    font-weight: 300;
}

.mEstimated2 div p {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 37px;
}

.divisor {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.divisor hr {
    width: 100%;
}

.mapView {
    padding-top:7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.houseView {
    /*display: none;*/
    /*width: 650px;*/
    width: 700px;
    height: 350px;
}

.houseView img {
    width: 700px;
    height: 350px;
}

.map {
    width: 700px;
    height: 350px;
}

.map img {
    width: 700px;
    height: 350px;
}

.textContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.textContent h2 {
    width: 620px;
    /*font-family: 'Poppins', sans-serif !important;*/
    margin-top: 14px;
    padding-bottom: 5px;
    background-color: transparent;
    font-weight: 300;
    color: #999999;
}

.textContent p {
    width: 620px;
    /*font-family: 'Poppins', sans-serif !important;*/
    margin-top: 14px;
    background-color: transparent;
    font-weight: 300;
    text-align: justify;
}

.propiedades {
    display: table-column;
}

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.intro h2 {
    width: 800px;
    padding-left:7px;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 300;
    height: 10px;
    color: #BFBFBF;
    letter-spacing: -1px;
    font-size: 14px;
}

.intro p {
    width: 800px;
    padding-left: 7px;
    /*font-family: 'Poppins', sans-serif !important;*/
    height: 40px;
    font-weight: 300;
    z-index: 155;
    line-height: 22px;
    text-align: justify;
    font-size: 14px;
}

.map2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.map2 img {
    width: 700px;
    height: 400px;
}

.table {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 650px;
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    width: 670px;
    height: 650px;
}

.mat-table {
    /*overflow: auto;*/
    max-height: 550px;
}

.mat-header-cell.mat-sort-header-sorted {
    color: black;
}

.preciosColonia {
    display: table-column;
}

.intro h3 {
    width: 700px;
    font-weight: 700;
    height: 2px;
    /*font-family: 'Poppins', sans-serif !important;*/
}

.ofertasMes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.ultimoMes {
    width: 308px;
    padding-right: 2px;
}

.umesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


/*.calendarContainer{
    
}*/

.calendarContainer img {
    width: 60px;
}

.numCasas {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.numCasas h1 {
    padding-top: 15px;
    padding-left: 3px;
    color: #009640;
    z-index: 202;
    background-color: transparent;
    line-height: 36px;
    /*font-family: 'Poppins', sans-serif !important;*/
    min-height: 35px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}

.numCasas p {
    width: 80px;
    padding-left: 3px;
    font-weight: 300;
    z-index: 194;
    background-color: transparent;
    line-height: 13px;
    /*font-family: 'Poppins', sans-serif !important;*/
    min-height: 37px;
    color: #494949;
    font-size: 11px;
}

.seisMeses {
    width: 308px;
    padding-left: 2px;
}

.smesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.tablaMes {
    padding-top: 15px;
    
}

.tablaMes table {
    width: 100%;
}

.titleTable {
    height: 35px;
    background-color: #9c9a9a;
    text-align: center;
    /*font-family: 'Poppins', sans-serif !important;*/
    min-height: 40px;
    font-weight: 300;
    color: #FFFFFF;
    padding: 3px;
}

table td {
    background-color: #ccc4c4;
    height: 20px;
}

.promedioTotal {
    line-height: 24px;
    color: #009640;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.promediom2 {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 40px;
    font-weight: 300;
}

.txtPromedio {
    /*font-family: 'Poppins', sans-serif !important;*/
    text-align: center;
    min-height: 40px;
    font-weight: 300;
}

.plusValia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: 96px;
}

.plusValiaContainer {
    display: flex;
    flex-direction: row;
}

.plusValiaContainer h2 {
    line-height: 25px;
    color: #009640;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 700;
    font-size: 21px;
}

.plusValiaContainer p {
    font-weight: 300;
    /*font-family: 'Poppins', sans-serif !important;*/
    color: #000000;
    font-size: 18px;
}

.flechaContainer img {
    padding-right: 5px;
    width: 40px;
    height: 32px;
}

.glosario {
    display: table-column;
}

.glosarioContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftText {
    width: 150px;
}

.leftText p {
    height: 65px;
    /*font-family: '__Raleway_5';*/
    font-weight: 700;
    line-height: 15px;
    font-size: 11px;
}

.rightText {
    width: 800px;
    
    /*display: flex;
    flex-direction: column;*/
    /*justify-content: flex-start;*/
}
.intro2{
    margin: 0;
    /*padding-bottom: 10px;*/
    
}
.intro2 h3{
    padding-left: 5px;
    font-weight: 700;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-size: 15px;
}

.intro2 p{
    /*font-family: 'Poppins', sans-serif !important;*/
    padding-left: 5px;
    font-weight: 300;
    z-index: 155;
    line-height: 22px;
    text-align: justify;
    font-size: 15px;
}

/*.rightText p {
    height: 65px;
    color: #999999;
    line-height: 15px;
    font-family: Geneva, Verdana, Lucida Sans, Lucida Sans Unicode, sans-serif;
    text-align: justify;
    font-size: 11px;
}*/

.terminos {
    display: table-column;
}

.contenido {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.contenido p {
    width: 800px;
    padding-left: 5px;
    /*font-family: 'Poppins', sans-serif !important;*/
    font-weight: 300;
    line-height: 17px;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: justify;
}

.graficaPrecioColonia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.containerGraficaColonia {
    width: 650px;
    display: table;
    /*
    display: flex;
    flex-direction: column !important;*/
    /*flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;*/

};

.graficaContainer {
    width: 100%;
}

.graficaContainer p-chart {
    width: 100%;
}

.graficaDescripciones {
    display: table-column;
}

.propiedadesEdad {
    display: flex;
    flex-flow: row;
    justify-content: center;
    flex-wrap: wrap;
}

.propiedadesPrecioM2 {
    display: table-column;
    width: 320px;
}

.grafica1Container {
    width: 320px;
    padding-left: 10px;;
    padding-top: 10px;
}

.grafica2Container {
    width: 320px;
    padding-left: 10px;
    padding-top: 10px;
}

.edadVivienda {
    display: table-column;
    width: 320px;
}

.recamarasSuperficie {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.graficaContainer1 p-chart {
    width: 100%;
}

.graficaContainer2 p-chart {
    width: 310px;
}

.intro3 h3 {
    text-align: center;
    width: 700px;
    font-weight: 700;
    /*font-family: 'Poppins', sans-serif !important;*/
}

.headerCell{
    width: 30px;
    font-size: 10px;
    color: rgba(0,0,0,.54);
    font-weight: 500;
}
.containerCell{
    width:30px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0,0,0,.87);;
}
.containerCell2{
    width:30px;
    font-size: 10px;
    font-weight: 500;
    color: rgba(0,0,0,.87);;
}
.superTitle{
    /*background: #D7EAD9;*/
    /*background: #28225C;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
}
.superContainer{
    width: 800px;
    padding-left:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo {
    /*filter: hue-rotate(0.35turn);*/
    width: 190px;
    height: 75px;
    /*margin: 10px;*/
    
  }
  canvas{
      display: block;
      visibility: visible;
  }
  .position{
      width: 16px;
      height: 19px;
  }
  .icon{
      width: 16px;
      height: 16px;
  }
  .headerCell1{
      width:20px;
  }
  .headerCell2{
      width: 40px;
      
  }
  .graficaPlusvalia{
      padding-top: 10px;
      width: 700px;
      height: 350px;
  }
  .footer{
    /*background: #D7EAD9;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 21px;
  }
  .footerContainer{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:black;
    font-size: 11px;
    padding: 5px;
  }

  .separador{
      height: 50px;
  }
  .separador2{
      height: 290px;
  }
  .separador3{
      height: 200px;
  }
  .separador4{
      height: 10px;
  }
  .separador5{
      height: 250px;
  }
  .separador6{
      height: 150px;
  }
  .separador7{
      height: 600px;
  }
  .separador8{
      height: 60px;
  }
  .superficieConstruida{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .html2pdf__page-break{
      padding-bottom: 10px;
  }