<div class="container">
  <div class="scrollable">


    <div class="superTitle">
      <div class="superContainer">
        <a href="#">
          <img class="logo" src="assets/images/logoFinal.png" />
        </a>
        <span class="reportID">ID {{datos.data.dateCreated | date:'yyyy-MMMMMdHms'}}</span>
      </div>
    </div>

    <div class="graficaDescripciones">

      <div class="propiedadesEdad">

        <div class="propiedadPreciom2">
          <div class="grafica1Container">
            <div class="intro">
              <h3> Propiedades según precio por m
                <sup>2</sup>
              </h3>
              <p>La gráfica muestra el porcentaje de las ofertas en la colonia ordenadas por rango de precios (casas y departamentos
                listados en los últimos 6 meses).</p>
            </div>
            <div class="graficaContainer1" id="graficaPropiedadM2" style="padding-top: 15px;">
              <p-chart type="bar" [data]="datosPropiedadesM2" [options]="options"></p-chart>
            </div>
          </div>
        </div>

        <div class="edadVivienda">
          <div class="grafica2Container">
            <div class="intro">
              <h3> Edad y tipo de vivienda
              </h3>
              <p>
                La gráfica muestra el porcentaje de ofertas en la colonia según su edad.</p>
            </div>
            <div class="graficaContainer2" id="graficaDatosVivienda" style="padding-top: 15px;">
              <p-chart type="bar" [data]="datosEdadVivienda" [options]="options"></p-chart>
            </div>
          </div>
        </div>

      </div>

      <div class="recamarasSuperficie">

        <div class="numRecamaras">
          <div class="grafica1Container">
            <div class="intro">
              <h3> Número de recámaras
              </h3>
              <p>
                La gráfica muestra el número de departamentos según su edad y número de recámaras (dormitorios).</p>
            </div>
            <div class="graficaContainer1" id="graficaRecamaras" style="padding-top: 15px;">
              <p-chart type="bar" [data]="datosRecamaras" [options]="options"></p-chart>
            </div>
          </div>
        </div>

        <div class=superficieConstruida>
          <div class="grafica2Container">
            <div class="intro">
              <h3>
                Supercie construida
              </h3>
              <p>
                La gráfica muestra el número de departamentos según su edad y supercie construida.
              </p>
            </div>
            <div class="graficaContainer2 numDepartamentos" id="graficaSuperficie" style="padding-top: 15px;">
              <p-chart type="bar" [data]="datosSuperficieConstruida" [options]="options"></p-chart>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="separador5">
    </div>

    <div class="footer">
      <div class="footerContainer">
        <span>Reporte Generado el {{fechaCreacion}}</span>
        <span>www.valorinmuebles.com.mx</span>
        <span>Página 6 de 9</span>
      </div>
    </div>

    <div class="html2pdf__page-break"></div>

   

  </div>

</div>
